<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/static/css/jquery.mobile.min.css" />
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.mobile.min.js"></script>
  <title>MHub</title>
</head>
<body>
  <pre>
    {{ menu }}
  </pre>
  <div data-role="page" id="home" class="type-home">
    <div data-role="header">
      <h1>MHub</h1>
    </div>
    <div data-role="content">
      <ul data-role="listview">
        {%- for item in menu recursive %}
          <li>{{ item }}</li>
          {%- if item.children -%}
            <ul>{{ loop(item.children) }}</ul>
          {%- endif %}
        {%- endfor %}
      </ul>
    </div>
    <div data-role="footer">
      <h4>Footer</h4>
    </div>
  </div>
</body>
</html>
