Twisted
txamqp
pyyaml
feedparser
xmpppy
jinja2
wokkel
pyopenssl
python-mpd-twisted
python-spidermonkey
http://www.freedesktop.org/~lanius/pyxdg-0.18.tar.gz
sphinx
twittytwister
oauth
flask
https://github.com/rlotun/txWebSocket/zipball/master
