Twisted
txamqp
pyyaml
feedparser
xmpppy
jinja2
wokkel
pyopenssl
python-mpd-twisted
http://www.freedesktop.org/~lanius/pyxdg-0.18.tar.gz
sphinx
twittytwister
oauth
flask
flask-wtf
https://github.com/wulczer/txWebSocket/zipball/master
